# MySQL admin credentials
MYSQL_USER="{{ myctl_mysql_user }}"
MYSQL_PASSWD="{{ myctl_mysql_password }}"

# MySQL server details
MYSQL_HOST="{{ myctl_mysql_host }}"
MYSQL_PORT="{{ myctl_mysql_port }}"

# Default host for new users
DEF_HOST="{{ myctl_mysql_host }}"

# Default password for new user
DEF_PASSWD=""
